@import '../../styles/variables.scss';
.ResultSection {
    margin: 0 0 20px 0;
    &__heading {
        display: -ms-grid;
        display: grid;
        place-items: center;
        text-align: center;
        margin: 0 0 16px 0;
    }
    &__error {
        display: -ms-grid;
        display: grid;
        place-items: center;
        color: $background_item_color;
        font-size: x-large;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .ResultSection {
        &__list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
    }
}

@media (min-width: 1024px) {
    .ResultSection {
        width: 50%;
    }
}

@media (min-width: 1366px) {
    .ResultSection {
        width: 70%;
    }
}