@import '../../styles/variables.scss';
.Footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    &__wrap {
        text-align: right;
        font-size: small;
        padding: 18px 18px 10px;
        color: $main_text_color;
        opacity: 0.96;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        border: 1px solid $main_text_color;
        border-bottom: none;
        &-content {
            &-spanning {
                color: $main_text_color;
            }
        }
    }
}

@media (min-width: 375px) {
    .Footer {
        &__wrap {
            font-size: medium;
        }
    }
}